<div class="container">
<form action="/emp/final-update" method="post">
<input type="hidden" name="id" value="{{emp._id}}"/>
<div class="form-group">
  <fieldset>
    <label class="form-label mt-4" for="readOnlyInput">Full Name</label>
    <input class="form-control" name="FullName" type="text" value="{{emp.fullName}}" fdprocessedid="begksv">
  </fieldset>
</div>
<div class="form-group">
  <fieldset>
    <label class="form-label mt-4" for="readOnlyInput">Email</label>
    <input class="form-control" name="Email" type="text" value="{{emp.email}}" fdprocessedid="begksv">
  </fieldset>
</div>
<div class="form-group">
  <fieldset>
    <label class="form-label mt-4" for="readOnlyInput">Phone Number</label>
    <input class="form-control" name="PhoneNumber" type="text" value="{{emp.mobile}}" fdprocessedid="begksv">
  </fieldset>
</div>
<div class="form-group">
  <fieldset>
    <label class="form-label mt-4" for="readOnlyInput">City</label>
    <input class="form-control" name="City" type="text" value="{{emp.city}}" fdprocessedid="begksv">
  </fieldset>
</div>
<br/>
<input type="submit" class="btn btn-lg btn-info btn-block" />
</form>
</div>
